---
import HeaderLogged from '../../components/HeaderLogged';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import CustomizeHabitComponent from "../../components/habits/CustomizeHabitComponent";

export async function getStaticPaths() {
    return [
    {params: {customizeHabitId: '2f4e7e62-38b2-4b4b-a1e2-14a91e88c392'}}, // beber agua
    {params: {customizeHabitId: '5d7854c1-7b3c-4d10-9a9a-654b2bc28b0e'}}, // ej fisico
    {params: {customizeHabitId: '91a319b8-9a2c-4f18-80f7-08e2e618ddfd'}}, // caminar
    {params: {customizeHabitId: '9c195256-1d25-4f6c-9ff1-4c7d7e4b38c6'}}, // meditar 
    {params: {customizeHabitId: '1bc9949b-41f2-45ce-9565-71dc6bc7511d'}}, // cuidar el sueño
    {params: {customizeHabitId: '6e6732d4-dc33-4506-b0f2-65ed0063f740'}}, // lectura
    // {params: {customizeHabitId: 'c24d5b8d-8a84-4902-88ad-c66fde99d7aa'}},
    // {params: {customizeHabitId: 'e38f67f2-3a2c-4dc7-aceb-f56c4d4fc287'}},
  ];
}

const habitId = Astro.params.customizeHabitId;

---
<Layout title="Hábitos | ForgeHabits">
    <HeaderLogged client:load/>
    <main class="max-w-8xl px-4 m-auto min-h-screen mb-3">
        <CustomizeHabitComponent habitId={habitId} client:only/>
    </main>
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('https://forge-habits.vercel.app/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>