---
import { Image } from "astro:assets";
import logoText from "../assets/logo-text.svg";

const currentYear = new Date().getFullYear();
---

<footer class="p-4 bg-gradient-to-r from-orange-300 to-orange-200 bg-opacity-95 rounded-lg shadow md:px-6 md:py-1">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="/" class="flex items-center mb-4 sm:mb-0">
            <span class="self-center text-xl font-semibold whitespace-nowrap">
                <Image src={logoText} class="h-36 w-36 ml-4" alt="ForgeHabits Logo" />
            </span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
            <li>
                <a href="/about-us" class="mr-4 text-sm text-black hover:underline md:mr-6">Sobre nosotros</a>
            </li>
            <li>
                <a href="/policy" class="mr-4 text-sm text-black  hover:underline md:mr-6">Políticas de privacidad</a>
            </li>
            <li>
                <a href="/contact" class="text-sm text-black   hover:underline ">Contacto</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-black sm:mx-auto lg:my-2"/>
    <span class="block text-sm text-black sm:text-center">© {currentYear} <a href="http://localhost:3001/login" target="_blank" class="hover:underline" rel="noreferrer">ForgeHabits</a>. All Rights Reserved.</span>
</footer>