---
import { Image } from "astro:assets";
import logoText from '../assets/logo-text.svg'
---
<header class="bg-gradient-to-r from-orange-600 to-orange-300 bg-opacity-95 text-white shadow-lg">
    <div class="container mx-auto flex items-center justify-between h-16 lg:h-24">
        <a href="/" onclick="window.location='/'; return false;">
            <Image src={logoText} alt="ForgeHabits" class="object-cover h-12 w-32 lg:h-20 lg:w-52" />
        </a>
        <nav class="font-semibold text-sm lg:text-base xl:text-lg flex items-end">
            <ul class="flex items-center">
                <li class="p-3 lg:p-5 xl:p-8">
                    <a href="/contact" class="hover:text-gray-700 transition-colors duration-200">
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="flex mr-1 p-3">
            <a href="/login" onclick="" class="min-w-max py-1.5 px-3 text-xs sm:text-sm lg:text-base border border-white rounded-full font-bold ml-2 hover:text-gray-700 hover:bg-gradient-to-r from-orange-500 to-orange-400 hover:border-gray-700 transition-colors duration-200">Iniciar Sesión</a>
        </div>
    </div>
</header>
