---
import Layout from "../layouts/Layout.astro"
const path = Astro.params.path
---

<Layout title="404 Not Found">
    <main class="flex flex-col">
        <h1 class="text-4xl text-center py-12">404 Not Found</h1>
        <h2 class="text-3xl text-center py-12"> Página no encontrada</h2>
    </main>
</Layout>