---
// Este bloque es el de JS
import HeaderNotLogged from '../components/HeaderNotLogged.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---
<!-- Este es el bloque de HTML -->
<Layout title="Diario | ForgeHabits">
    <HeaderNotLogged />
    <main class= "max-w-7xl px-4 m-auto min-h-screen" >
    </main>
    <Footer/>
</Layout>