---
// Este bloque es el de JS
import HeaderLogged from '../components/HeaderLogged.jsx';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { isValidJWT } from '../utils/jwtValidations.js'

// if(!isValidJWT){
//     Astro.redirect('/login')
// }
export async function get({ request }) {
    console.log('Hola')
    if (!await isValidJWT(request)) {
        throw Astro.redirect('/login');
    }
    return {};
}
---
<!-- Este es el bloque de HTML -->
<Layout title="Home | ForgeHabits">
    <HeaderLogged client:load/>
    <main class= "max-w-7xl px-4 m-auto min-h-screen" >
    </main>
    <Footer/>
</Layout>../components/HeaderLogged.jsx/index.js