---
import HeaderLogged from '../components/HeaderLogged.jsx';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import DashboardComponent from '../components/DashboardComponent.jsx';

---
<Layout title="Home | ForgeHabits">
    <HeaderLogged client:load/>
    <div class="flex justify-center space-x-7 items-center mt-3">
        <h1 class="text-4xl font-bold animate-fade-down mb-4">Bienvenido a <span class="text-orange-200">ForgeHabits</span>!</h1>
    </div>
    <DashboardComponent client:only/>
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>
