---
import HeaderLogged from '../components/HeaderLogged';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import HabitComponent from '../components/habits/HabitComponent';

---
<Layout title="H치bitos | ForgeHabits">
    <HeaderLogged client:load/>
    <main class= "max-w-7xl px-4 m-auto min-h-screen" >
        <div class="flex space-x-96 mt-3">
            <button class=" font-bold bg-blue-400 p-2 rounded-xl hover:from-blue-500 hover:to-blue-50 border-2">A침adir h치bitos</button>
            <h1 class= "text-center text-xl" >Mis h치bitos</h1>
        </div>
        <div class="min-h-screen mt-3 border-2">
            <div class="flex space-x-96 mt-3 w-full h-auto ml-2">
                <HabitComponent title={"Comer Saludable"} streak={"3"} bgcolor={"gray"}/>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>