---
import HeaderLogged from '../components/HeaderLogged';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import HabitsDisplayComponent from '../components/habits/HabitsDisplayComponent';

---
<Layout title="Hábitos | ForgeHabits">
    <HeaderLogged client:load/>
    <main class="max-w-7xl px-4 m-auto min-h-screen mb-3">
        <div class="flex justify-center space-x-7 items-center mt-3">
            <a href="/myhabits" class="font-bold bg-red-500 p-2 rounded-xl hover:bg-red-300 border-2">Volver</a>
            <h1 class="text-4xl font-bold">Nuevos hábitos</h1>
            <div></div>
        </div>
        <div class="min-h-screen mt-3 border-2 rounded-lg">
            <HabitsDisplayComponent page="habits" client:only/>
        </div>
    </main>
    
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>