---
import HeaderLogged from '../components/HeaderLogged';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import HabitsDisplayComponent from '../components/habits/HabitsDisplayComponent';
import TitleComponent from '../components/TitleComponent';

---
<Layout title="H치bitos | ForgeHabits">
    <HeaderLogged client:load/>
    <main class="max-w-8xl flex flex-col justify-center px-4 m-auto min-h-screen mb-3">
        <div class="flex justify-center space-x-7 items-center mt-3">
            <a href="/myhabits" class="bg-orange-200 text-gray-800 hover:bg-orange-400 transition-colors duration-400 text-md font-bold mb-5 mt-1 py-2 xl:py-3 px-4 sm:px-6 rounded-xl focus:outline-none focus:shadow-outline focus:border-orange-500 focus:bg-gray-800 focus:text-white focus:border-2">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </a>
            <TitleComponent name="Nuevos h치bitos"/>
            <div></div>
        </div>
        <div class="inline-block m-auto border-orange-200 border-2 rounded-lg mx-auto animate-flip-down">
            <h2 class="font-semibold text-center mx-4 text-orange-100 p-2">"Configura tantos <span class="font-bold text-orange-300">h치bitos</span> como quieras. Aunque recuerda que el objetivo es la <span class="font-bold text-orange-300">repetici칩n</span>, no el agobio."</h2>
        </div>
        <div class="min-h-screen mt-3 rounded-lg">
            <HabitsDisplayComponent page="habits" client:only/>
        </div>
    </main>
    
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>