---
import HeaderLogged from '../components/HeaderLogged';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import HabitsDisplayComponent from '../components/habits/HabitsDisplayComponent';

---
<Layout title="Mis h치bitos | ForgeHabits">
    <HeaderLogged client:load/>
    <main class="max-w-7xl px-4 m-auto min-h-screen mb-3">
        <div class="flex justify-center space-x-7 items-center mt-3 ">
            <a 
            style={{
                background: 'linear-gradient(to right top, rgb(251, 146, 60), rgb(251, 113, 133))'
            }}

            href="/habits" class="font-bold bg-blue-400 p-2 mb-3 border-gray-800 text-center rounded-xl hover:scale-105 hover:shadow-xl transition ease-in-out duration-300 border-2">A침adir h치bitos</a>
            <h1 class="text-4xl font-bold mb-5 uppercase">Mis h치bitos</h1>
            <div></div>
        </div>
        <div class="min-h-screen mt-3 border-2 rounded-lg">
            <HabitsDisplayComponent page="myhabits" client:only/>
        </div>
    </main>
    
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>