---
import HeaderLogged from '../components/HeaderLogged.jsx';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import ProfileUserInfoComponent from '../components/profile/ProfileUserInfoComponent.jsx';
---
<Layout title="Mi perfil | ForgeHabits">
    <HeaderLogged client:load/>
    <main class= "max-w-7xl px-4 m-auto min-h-screen" >
        <ProfileUserInfoComponent client:only>
    </main>
    <Footer/>
</Layout>

<script type="module">
    async function checkAuth() {
        const token = sessionStorage.getItem('jwtToken');
        console.log('Token: ' + token);
        
        if (!token) {
            window.location.href = '/login';
            return;
        }

        try {
            const response = await fetch('http://localhost:3000/api/auth/status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + token,
                }
            });

            const data = await response.json();

            if (!response.ok || (response.status === 200 && !data.isLoggedIn)) {
                console.error('Authentication check failed:', data);
                window.location.href = '/login';
            }
        } catch (error) {
            console.error('Authentication check failed:', error);
            window.location.href = '/login';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkAuth();
    });
</script>